body {
    background-color: black;
    margin: 0;
}

@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Regular.ttf");
    }

#background-threejs-render {
    position: fixed;
    z-index: -1;
}

#front {
    width: 85%;
    margin: auto;
    margin-top: 5em;
    padding-bottom: 5em;
    background-color: rgb(80 42 89 / 30%);
    border-left: pink 1px solid;
    border-right: pink 1px solid;
}

#title {
    padding-top: 2em;
    padding-bottom: 40%;
}

.logo {
    height: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    position:absolute;
}

#title-middle-video {
    cursor: none;
    height: 70%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
}

.cat-mask  {
    -webkit-mask-image:url(/images/mask_cat.png);
    -webkit-mask-position:center center;
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-size:contain;
  
    mask-image:url(/images/mask_cat.png);
    mask-position:center center;
    mask-repeat:no-repeat;
    mask-size:contain;
}


#title-threejs-aspect-wrapper {
    position: relative;
}

#title-threejs-render {
    padding-bottom: 40%;
    height: 100%;
    width: 100%;
    max-width: 80vw;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    position: absolute;
}

#intro {
    padding: 1.5em;
    color: rgba(248, 213, 238, 0.801);
    text-align: left;
    transform: translateX(10%);
    width: 40%;

    font-size: 16px;
    font-family: 'roboto';
    
    
    border-radius: 10px;
    background-color:rgba(20, 4, 24, 0.75);
}

#showcase-text {
    position: absolute;
    margin-top: 1em;
    padding: 1.5em;
    color: rgba(248, 213, 238, 0.801);
    text-align: left;
    width: 40%;
    right: 15vw;
    font-size: 16px;
    font-family: 'roboto';

    border-radius: 10px;
    background-color:rgba(20, 4, 24, 0.75);
}

#showcase-threejs-aspect-wrapper {
    position: relative;
    margin-left: 3em;
}

#showcase-threejs-render {
    width: 50vw;
    height: 37.5vw;
    min-width: 20em;
    min-height: 15em;
}



